body{
    background-color: #eeeeee;
}
.formufra{
    height: 100px;
    background-color: #005f81;
}
/*.cuerpo{*/
    /*height: 20%;*/
    /*background-color: #FFFFFF;*/
/*}*/
.contienesala{
    font-family: "Roboto", Arial, sans-serif, Helvetica;
    background-color: #dcdcdc;
    color: #004773;
    width:70%;
    font-size: 22px;
    height: 70px;
    text-align: center;
}
.contienesala h4{
    padding-top: 21px;
}
.accor {
    background-color: #dcdcdc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


