body{
    background-color: #dcdcdc;
    font-family: "Roboto", Arial, sans-serif, Helvetica;
}
.pos{
    padding: 0%;
    margin: auto;
    /*display: flex;*/
    justify-content: space-around;
    height: 25%;
    width: 100%;

}

#box{
    padding: 30px;
    width: 300px;
    margin: 30px auto auto auto;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px #005a88;
}
#main-container{
    margin: 150px auto;
    width: 600px;

}


.sec h4{
    font-size: 30px;
    padding: 10px 0 10px 0;
    /*padding: 0;*/
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #005a88;
    width: 100%;
    font-weight:900;

}
.sec {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;

    /*-webkit-border-radius: 2px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}

.sec select{
    border-radius: 2px;
    background: #eee;
    color: #005a88;
}

.sec select:focus{
    outline: none;
}

.sec button[type='submit']{
    padding: 10px;
    background: #005a88;
    color: #f5f5f5;
    font-size: 1em;

    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

.sec button[type='submit']:hover{
    background: #004773;
    color: white;
}

.sec input{

    border:0;

    width: 100%;
    background-color: #eee;
    outline: none;

}

.sec label{
    font-weight: bold;
    text-align: center;
    padding-top: 0;
    color: #005a88;
    font-size: 20px;
}

th, td{
    padding: 10px;
}
thead{
    background-color:#005a88;
    color: white;

}


#main-container table{
    border-radius: 10px;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    border-collapse: collapse;

}

#main-container tbody{
    background: rgba(223, 223, 223, 0.85);
    color: #005a88;

}
#main-container tr td a{
    text-decoration: none;
    color: #005a88;

}

#main-container tr td a:hover{
    color: #004773;
    font-size: 15px;
}